* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000;
}
.app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    text-align: center;
    font-size: 25px;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}


.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
}

/* h2 {
    text-align: center;
} */

.btn {
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
    
}

.btn:disabled {
    cursor: no-drop;
    opacity: 0.6;
}

#next-btn {
    background: #000;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    /* transition: all 0.3s ease; */
}

.isCorrect {
    background-color: #9aeabc;
}

.inCorrect {
    background-color: #ff9393;
}